body,
#app {
  overflow: hidden;
}
#app {
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

button {
  appearance: none;
  outline-color: transparent;
  border-color: transparent;
  cursor: pointer;
}
button.disabled {
  pointer-events: none;
}

.canvas {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: var(--zCanvas);
  touch-action: none;
}

#app {
  position: relative;
}
