// ============ Mona Sans
// Regular
@font-face {
  font-family: "Mona Sans";
  src: url("/font/mona-sans/Mona-Sans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
// Medium
@font-face {
  font-family: "Mona Sans";
  src: url("/font/mona-sans/Mona-Sans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
// Bold
@font-face {
  font-family: "Mona Sans";
  src: url("/font/mona-sans/Mona-Sans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

// ============ Switzer
// Regular
@font-face {
  font-family: "Switzer";
  src: url("/font/switzer/Switzer-Regular.otf") format("otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
// Medium
@font-face {
  font-family: "Switzer";
  src: url("/font/switzer/Switzer-Medium.otf") format("otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-mona: "Mona Sans", sans-serif;
  --font-switzer: "Switzer", sans-serif;
  --font-heading: var(--font-mona);
  --font-text: var(--font-switzer);
  --font-f-body: var(--font-mona);
  --font-s-body: 16px;
  // colors
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #00000066;

  // zIndex
  --zCanvas: 0;
  --zCard: 1;
  --zTopnav: 2;
  --zImageViewer: 3;
}
