@use "../../Styles/mixins";

.footer {
  background: linear-gradient(
    180deg,
    rgba(0, 15, 200, 0) 0%,
    rgba(0, 15, 200, 0.48) 39.82%,
    #000fc8 65.06%,
    #000 100%
  );
  padding-bottom: 2.5rem;

  @include mixins.screen-size("md") {
    padding: 30vh 1.25rem 1rem;
  }

  & .link {
    color: var(--color-white);
    text-transform: capitalize;
    font-size: 2rem;
    font-family: var(--font-heading);
    font-weight: 400;
    border-radius: 1000px;

    background-color: var(--color-white);
    display: grid;
    place-items: center;
    aspect-ratio: 1;
    width: 3rem;

    @include mixins.screen-size("md") {
      background-color: transparent;
      display: inline;
      aspect-ratio: unset;
      width: fit-content;
    }

    & .label {
      display: none;
      @include mixins.screen-size("md") {
        display: block;
      }
    }

    & .icon {
      fill: var(--color-white);
      color: var(--color-white);

      display: block;
      @include mixins.screen-size("md") {
        display: none;
      }
    }
  }

  & .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.25rem;
    margin-block: 3.75rem;

    & li:first-child {
      order: 2;
    }
    & li:nth-child(2) {
      order: 3;
    }
    & li:nth-child(3) {
      order: 4;
    }
    & li:last-child {
      order: 1;
    }

    @include mixins.screen-size("md") {
      margin-block: 0 4.325rem;

      & li:first-child {
        order: 1;
      }
      & li:nth-child(2) {
        order: 2;
      }
      & li:nth-child(3) {
        order: 3;
      }
      & li:last-child {
        order: 4;
      }
    }
  }

  & .footer_title {
    text-transform: uppercase;
    font-weight: 900;
    font-family: var(--font-heading);
    text-align: center;
    line-height: normal;
    font-size: 4rem;

    color: #ffbb00;

    @include mixins.screen-size("md") {
      font-size: 8.875rem;
      white-space: nowrap;
    }
  }

  & .copyright {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-white);
    font-family: var(--font-text);
    padding-block: 3.75rem 1.25rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    @include mixins.screen-size("md") {
      display: none;
    }
  }
}
