.topnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: var(--zTopnav);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.9rem 1.25rem;

  & .link {
    color: var(--color-white);
    text-transform: capitalize;
    font-size: 1.25rem;
    font-weight: 400;
  }

  & .navigation {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }
}
