.topnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: var(--zTopnav);

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  @media (min-width: 768px) {
    gap: 1.5rem;
    padding: 1.9rem 1.25rem;
    flex-direction: row;
    height: max-content;
    background-color: transparent;
  }

  & .header,
  & .navigation {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #00000021;
    backdrop-filter: blur(6px);

    @media (min-width: 768px) {
      padding: 0 0;
      width: fit-content;
      flex-grow: 0;
      height: max-content;
      background-color: transparent;
    }
  }

  & .header {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(230, 230, 230, 0.2);

    @media (min-width: 768px) {
      border-bottom: none;
    }

    & .btn {
      display: flex;
      align-items: center;
      justify-content: center;

      & .icon-close {
        display: block;
      }
      & .icon-menu {
        display: none;
      }

      &.closed {
        & .icon-close {
          display: none;
        }
        & .icon-menu {
          display: block;
        }
      }

      @media (min-width: 768px) {
        display: none;
      }
    }
  }

  & .navigation {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    flex-direction: column;
    height: 100vh;
    transform-origin: top;
    overflow: hidden;

    & li {
      overflow: hidden;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @media (min-width: 768px) {
      height: max-content;
      max-height: max-content;
      flex-direction: row;
      overflow: visible;
      scale: 1 1;

      & li {
        overflow: visible;
      }
    }
  }

  & .link {
    display: block;
    position: relative;
    color: var(--color-white);
    text-transform: capitalize;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;

    &.name {
      font-weight: 900;
    }

    &.coming_soon::after {
      display: none;

      content: "Coming Soon";
      position: absolute;

      left: calc(100% + 0.5rem);
      top: 50%;
      translate: 0 -50%;

      font-family: var(--font-text);
      font-weight: 400;
      padding: 0.1rem 0.45rem;
      border-radius: 1000px;
      background-color: #d7d7d720;
      backdrop-filter: blur(1px);
      text-transform: capitalize;
      font-size: 0.625rem;
      white-space: nowrap;

      @media (min-width: 768px) {
        left: 50%;
        top: calc(-100% + 0.5rem);
        translate: -50% 0;
      }
    }

    &.coming_soon.clicked::after {
      display: block;
    }
  }
}
