.card {
  position: absolute;
  z-index: var(--zCard);
  pointer-events: none;
  display: none;
  transform-origin: center center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.29);

  &.visible {
    pointer-events: all;
    cursor: pointer;
    display: block;
  }

  & .icon {
    fill: var(--color-white);
    color: var(--color-white);
  }

  & .btn {
    position: absolute;
    right: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem;
    border-radius: 1000px;
    backdrop-filter: blur(3px);
    background-color: #ffffff30;

    &.btn-download {
      bottom: 1rem;
    }

    &.btn-copy {
      bottom: 4rem;
    }
  }

  & .label {
    color: var(--color-white);
    font-family: var(--font-heading);
    font-weight: 500;
    font-size: 0.75rem;
    text-transform: capitalize;
  }
}

#image_viewer {
  display: none;
}

#image_viewer.visible {
  display: block;
  position: fixed;
  z-index: var(--zImageViewer);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#image_viewer .wrapper {
  position: relative;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  backdrop-filter: blur(16px) brightness(80%);

  padding: 4rem 2rem;
}

#image_viewer .title {
  font-size: 1.75rem;
  text-transform: capitalize;
  font-weight: 500;
}

#image_viewer .img {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  flex-grow: 1;
}

#image_viewer .btn {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.5rem;
  font-weight: 500;
}
