.card {
  position: absolute;
  z-index: var(--zCard);
  pointer-events: none;
  display: none;
  transform-origin: center center;
  padding: 1rem;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0) 45.9%,
    rgba(0, 0, 0, 0) 65.48%,
    rgba(0, 0, 0, 0.32) 100%
  );

  &.visible {
    pointer-events: all;
    cursor: pointer;
    display: block;
    transition: background 0.3s ease-in-out;

    &:hover {
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 31.9%,
        rgba(0, 0, 0, 0) 83.48%,
        rgba(0, 0, 0, 0.32) 100%
      );
    }
  }

  & .icon {
    fill: var(--color-white);
    color: var(--color-white);
  }

  & .btn {
    font-family: var(--font-heading);
    position: absolute;
    right: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    font-feature-settings: "liga" off, "clig" off;
    font-weight: 500;
    border-radius: 1000px;
    z-index: 1;
    font-size: 0.75rem;
    background-image: linear-gradient(#fff, #6c6c6c29 2%, #dbdbdb38 98%, #fff);
    letter-spacing: -0.2px;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      pointer-events: none;

      width: calc(100% + 2px);
      height: calc(100% + 2px);
      border-radius: 1000px;

      background-color: #00000030;
      backdrop-filter: blur(6px);
    }

    &.btn-download {
      bottom: 1rem;
    }

    &.btn-copy {
      bottom: 4rem;

      &::after {
        position: absolute;
        top: calc(-100% + 0.25rem);
        right: 0;
        content: "copied";
        font-size: 0.625rem;
        font-weight: 400;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.25rem 0.75rem;
        border-radius: 1000px;
        background-color: #00000030;
        color: var(--color-white);
        display: none;
      }

      &.copied::after {
        display: block;
      }
    }
  }

  & .label {
    color: var(--color-white);
    font-family: var(--font-heading);
    font-weight: 500;
    font-size: 0.75rem;
    text-transform: capitalize;
  }
}
